/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700&display=swap");

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

// デフォルト設定

html {
  font-size: 62.5%; // rem と px を変換しやすくする
  font-family: Lato, "ＭＳ Ｐゴシック", sans-serif;
}

* {
  box-sizing: border-box; // widthで横幅指定したとき、paddingとborderも含める
}

body {
  // margin-top: 10rem;   ************** ヘッダー固定の際のマージン。最後にコメントアウトを解除する ******************
  max-width: 1366px;
  height: 1177px;
  font-family: "Lato";
  font-family: "Noto Sans JP";
}

///////////////////////
// 汎用コード
///////////////////////

.bold {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

@media all and (-ms-high-contrast: none) {
  .bold {
    font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
      "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}

.wrap {
  overflow: hidden;
}

body {
  // font-family: 'Lato', "Noto Sans JP" ;
  // font-family: Meiryo, sans-serif;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media all and (-ms-high-contrast: none) {
  body {
    font-family: "メイリオ", Meiryo, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
      "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

.h2-ttl {
  justify-content: center;
  font-size: 6rem;
  margin-top: 6.8rem;
  position: relative;
  margin-bottom: 9.45rem;
}

/*以下で線を表示*/
.h2-ttl:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px; /*線の上下位置*/
  width: 5.2rem; /*線の長さ*/
  height: 4px; /*線の太さ*/
  transform: translateX(-50%); /*位置調整*/
  background-color: #3f51b5; /*線の色*/
  border-radius: 2px; /*線の丸み*/
}

// リンクを白文字、hoverの下線消して白文字にする
.link_w {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// リンクを赤文字、hoverの下線消して赤文字にする
.link_r {
  color: #e81919;
  &:hover {
    color: #e81919;
    text-decoration: none;
  }
}

///////////////////////
// メディアクエリ
///////////////////////

$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 375px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

/*********************************
*ヘッダー セクション                                 
*********************************/

.navbar {
  background-color: #3f51b5;
  width: 100%;
  padding: 0;
  .navbar-brand {
    padding: 0;
  }
}

.navbar-nav {
  margin-right: 14rem;
}

.nav-item {
  color: white;
  font-size: 1.6rem;
  line-height: 26px;
  margin-left: 3rem;
  position: relative;
  padding: 0 !important;
  &::after {
    position: absolute;
    bottom: 0.3em;
    left: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #e81919;
    opacity: 0;
    transition: 0.3s;
  }
  &:hover::after {
    bottom: -5px;
    opacity: 1;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.logo {
  background-image: url(img/logo.png);
  width: 200px;
  height: 39px;
  margin: 3.1rem 0 3rem 14rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.main {
  max-width: 100%;
  height: 700px;
  background-image: url(img/mainvisual.png);
  background-repeat: no-repeat;
  background-size: cover;

  .main_wrap {
    padding: 24.9rem 0;
    max-width: 100%;
  } //main_wrap

  .main_ttl {
    width: 748px;
    height: 87px;
    margin: 0 auto;
    font-size: 6.8rem;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }
  .main_ttl2 {
    width: 748px;
    margin: 0 auto;
    font-size: 6.8rem;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }

  .main_subttl {
    width: 342px;
    height: 49px;
    margin: 1.2rem auto 8.2rem auto;
    font-size: 3.8rem;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }

  .main_contact-btn {
    max-width: 100%;
    width: 390px;
    height: 83px;
    margin: 0 auto;
    background: #3f51b5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 0.8;
    }
    .hover_thin {
      text-decoration: none;
      font-size: 3.8rem;
      color: #ffffff;
      opacity: 1;
      @media all and (-ms-high-contrast: none) {
        height: 3.8rem;
        line-height: 3.8rem;
        // display: flex;
        // align-items: center;
        // flex:0 1 auto;
      }
    }
  } // main_contact-btn
} // main

/*********************************
*カード セクション                             
*********************************/

.card {
  background: #efefef;
  width: 100%;
}

.card_ttl {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 6.8rem auto 11.3rem auto;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 96px;
  width: 138px;
  height: 77px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4.6rem; /*線の上下位置*/
    display: inline-block;
    width: 77px; /*線の長さ*/
    height: 5px; /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /*位置調整*/
    background-color: blue; /*線の色*/
    border-radius: 2px; /*線の丸み*/
  }
  @include tab {
    margin: 6.8rem auto 6.8rem auto;
  }
}

.main {
  width: 1366px;
}

.card_cont {
  margin: 0 14rem;
  max-width: 100%;
  width: 1106px;
  height: 741px;
  margin-bottom: 13.1rem;
  @include tab {
    margin: 0 auto;
  }
}

.card_wrap {
  background: #fff;
  margin: 0 3rem 2rem 0;
  width: calc(33.3333333% - 3.4rem);
  min-width: 34.2rem;
  height: 35.5rem;
  font-weight: bold;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  @include tab {
    width: calc(50% - 3.4rem);
    margin: 0 auto 2rem auto;
  }

  @include sp {
    margin: 0 auto 2rem auto;
  }
}

.card_wrap:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.3875em);
}

.card_wrap:nth-child(3n) {
  margin-right: 2rem;

  @include tab {
    margin: 0 auto 2rem auto;
  }

  @include sp {
    margin: 0 auto 2rem auto;
  }
}

.card_wrap:nth-child(n + 4) {
  margin-bottom: 1.1rem;
}

.card_wrap-sub {
  margin: 1.6rem;
  max-width: 100%;
}

.card_img {
  max-width: 31rem;
  height: 16.1rem;
  width: 100%;
}

.card_txt {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.8rem;
  h3 {
    font-size: 2rem;
    height: 2.6rem;
    margin: 2.6rem 0 2rem 0;
    font-weight: bold;
  }
}

/*********************************
*ニュース セクション                           
*********************************/

.news {
  max-width: 1366px;
  width: 100%;
  height: 668px;
  .news_main {
    //  width: 838px;
    margin: 0 auto;
    text-align: center;
  }
}

.news_list {
  width: 100%;
  align-items: center;
}

.news_list-cont {
  width: 100%;
  max-width: 838px;
  font-size: 1.6rem;
  border-bottom: 1px solid #707070;
  margin-top: 2.25rem;
  padding-bottom: 2.15rem;
  align-items: flex-start;
  line-height: 2.4rem;
  &:nth-child(5) {
    border-bottom: none;
  }
  p {
    max-width: 576px;
    text-align: left;
  }
}

.news_date {
  min-width: 86px;
}

.label_1 {
  min-width: 64px;
  align-items: center; // テキストを縦方向に中央揃え
  margin: 0 4.8rem;
  color: #fff;
  // padding: 0 1.8rem;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.label_1:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  left: -1.75rem;
  background: #666666;
  border-radius: 6px;
  color: #fff;
  z-index: -1;
}

@media all and (-ms-high-contrast: none) {
  .label_1:before {
    top: -0.3rem;
  }
}

@media all and (-ms-high-contrast: none) {
  .label_1-1 {
    min-width: 93px;
  }
}

.label_2 {
  // min-width: 100px;
  min-width: 64px;
  align-items: center; // テキストを縦方向に中央揃え
  margin: 0 4.8rem;
  color: #fff;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.label_2:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  left: -1.75rem;
  background: #3f51b5;
  border-radius: 6px;
  color: #fff;
  z-index: -1;
}

@media all and (-ms-high-contrast: none) {
  .label_2:before {
    top: -0.3rem;
  }
}

.label_3 {
  min-width: 64px;
  align-items: center; // テキストを縦方向に中央揃え
  margin: 0 4.8rem;
  color: #fff;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.label_3:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 30px;
  left: -1.75rem;
  background: #e81919;
  border-radius: 6px;
  color: #fff;
  z-index: -1;
}

@media all and (-ms-high-contrast: none) {
  .label_3:before {
    top: -0.3rem;
  }
}

.news_txt {
  color: #000000;
  text-align: left;
  &:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.3;
  }
}

.news_more {
  font-size: 1.6rem;
  display: inline-block;
  margin: 0 auto;
  color: #e81919;
  margin-top: 1.6rem;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.news_more:hover {
  border-bottom: solid 2px #e81919;
}

.news_more:after {
  position: absolute;
  content: ""; //入れる文字を" "の間に入力。画像だけの場合は入力なし
  background-image: url(img/news-arrow.svg); //矢印の背景画像
  background-repeat: no-repeat;
  top: 0.4rem;
  right: -1.9rem;
  width: 1.414rem;
  height: 1.414rem;
}

/*********************************
*プライス セクション                             
*********************************/

.price {
  background: #efefef;
}

.price_ttl {
  font-size: 6rem;
  padding-top: 6rem;
}

.price_main {
  max-width: 100%;
  width: 1326px;
  padding-bottom: 11.2rem;
}

.price_img {
  width: 360px;
  height: 300px;
  margin: 0 12.2rem 0 13.9rem;
  @include tab {
    display: none;
  }
}

.price_table-wrap {
  @include tab {
    margin: 0 auto;
  }
}

.price_table {
  width: 608px;
  height: 310px;
  font-size: 1.6rem;
  border-collapse: collapse; // 枠線の合間に隙間を作るか
  th,
  td {
    border: solid 1px black;
  }
  .table_ttl {
    width: 160px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    background: #999999;
    color: #fff;
  }
  .table_ttl-col {
    width: 224px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    background: #999999;
    color: #fff;
  }
  .table_cont {
    text-align: right;
    vertical-align: middle;
    padding-right: 1.7rem;
  }
}

.price_notice {
  font-size: 1.6rem;
  margin-top: 2rem;
}

/*********************************
*アクセス セクション                             
*********************************/

.access_wrapper {
  text-align: center;
}

.access_address {
  font-size: 1.6rem;
  margin: 4.157rem 0 1.51rem 32.3rem;

  @include tab {
    margin: 4.157rem 0 1.51rem 10.3rem;
  }

  .access_address-main {
    margin-right: 8.6rem;
  }
}

.access_directions {
  font-size: 1.6rem;
  margin: 0 0 3.785rem 32.3rem;

  @include tab {
    margin: 2.157rem 0 2.51rem 10.3rem;
  }

  .access_directions-main {
    margin-right: 5.4rem;
  }
}

.access_btn {
  display: inline-block;
  width: 305px;
  height: 56px;
  line-height: 56px;
  font-size: 2rem;
  background-color: #3f51b5;
  border-radius: 12px;
  color: #fff;
  margin-bottom: 15.005rem;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.access_btn:after {
  position: absolute;
  content: "";
  background-image: url(img/access-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1.8rem;
  right: 1.193rem;
  width: 12px;
  height: 30px;
  border-radius: 3px;
}

.access_map iframe {
  @include tab {
    width: 600px;
    height: 300px;
  }
}

// .access_map {
//     margin: 0 auto;
//     position: relative;
//     max-width: 800px;
//     width: 100%;
//     padding-top: 50%;
//   }

// .access_map iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     max-width: 800px;
//     max-height: 400px;
//   }

/*********************************
*コンタクト セクション                            
*********************************/

.contact {
  background: #efefef;
}

.contact_wrapper {
  background: #fff;
  width: 800px;
  max-width: 100%;
  height: 912px;
  margin: 0 auto;
}

.contact_ttl {
  text-align: center;
  padding-top: 6.8rem;
}

.contact_area {
  display: flex;
  font-size: 1.8rem;
  margin-left: 5.2rem;
  margin-bottom: 4.9rem;
  &:nth-child(1) {
    padding-top: 5.737rem;
  }

  @include tab {
  }

  @include sp {
    display: block;
    margin: 1rem;
  }
}

.contact_name {
  display: flex;
  margin-right: 12.3rem;
  align-items: center;
  position: relative;
  @include sp {
    margin-bottom: 1rem;
  }
}

.contact_name:after {
  position: absolute;
  content: "必須";
  width: 4.598rem;
  height: 2.272rem;
  background: #e81919;
  color: #fff;
  border-radius: 12px;
  font-size: 1.6rem;
  bottom: -1rem;
  left: 0.5rem;
  text-align: center;
  line-height: 2.272rem;
  @include sp {
    bottom: -0.2rem;
    left: 6rem;
  }
}

.contact_mail {
  display: flex;
  margin-right: 5.1rem;
  align-items: center;
  position: relative;
  @include sp {
    margin-bottom: 1rem;
  }
}

.contact_mail:after {
  position: absolute;
  content: "必須";
  width: 4.598rem;
  height: 2.272rem;
  background: #e81919;
  color: #fff;
  border-radius: 12px;
  font-size: 1.6rem;
  bottom: -1rem;
  left: 0.5rem;
  text-align: center;
  line-height: 2.272rem;
  @include sp {
    bottom: -0.2rem;
    left: 13rem;
  }
}

.contact_type {
  // <p>お問い合わせ種別</p>
  display: flex;
  align-items: center;
  margin-right: 3.3rem;
  position: relative;
  @include sp {
    margin-bottom: 1rem;
  }
}

.contact_type:after {
  // お問い合わせ種別の下矢印
  position: absolute;
  content: "";
  background-image: url(img/select-arrow.svg);
  background-repeat: no-repeat;
  top: 2.5rem;
  right: -55rem;
  width: 2.664rem;
  height: 2.15rem;
  border-radius: 3px;
}

.contact_cont {
  // <p>お問い合わせ内容</p>
  display: flex;
  margin-top: 2rem;
  margin-right: 3.3rem;
  @include sp {
    display: block;
    margin: 1rem 0;
  }
}

.contact_input-area {
  // 名前・メールアドレス入力欄
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 528px;
  max-width: 100%;
  height: 60px;
  text-indent: 1em;
  &:placeholder-shown {
    color: #cccccc;
    font-size: 1.6rem;
  }
  &::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 1.6rem;
  }
}

.contact_input-area:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact_input-select {
  // お問い合わせ種別
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 528px;
  max-width: 100%;
  height: 60px;
}

.contact_input-select::-ms-expand {
  display: none;
}

.contact_input-select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact_input-select {
  color: #cccccc;
  option {
    color: #000;
    &:first-child {
      display: none;
    }
  }
}

.contact_input-cont {
  // お問い合わせ内容
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  width: 528px;
  max-width: 100%;
  height: 240px;
  padding: 1.008rem 0 0 1.6rem;
  &:placeholder-shown {
    color: #cccccc;
    font-size: 1.6rem;
  }
  &::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 1.6rem;
  }
}

.contact_input-cont:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-shadow: none;
  outline: none;
}

.contact_radio-main {
  font-size: 1.6rem;
  margin-top: 4.662rem;
  margin-left: 6.3rem;
  @include sp {
    margin: 3rem;
  }
}

.contact_radio {
  display: none;
}

.contact_radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 4rem;
  position: relative;
  @include sp {
    font-size: 1.4rem;
  }
}

.contact_radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.contact_radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3f51b5;
  border: 6px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 7px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 8px;
}

.contact_radio:checked + span::after {
  opacity: 1;
}

.contact_check {
  justify-content: center;
  margin-top: 5.234rem;
  font-size: 1.6rem;
}

.contact_btn-wrapper {
  width: 261px;
  margin: 0 auto;
  margin-top: 2.965rem;
  transition: all 0.6s ease 0s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
  }
}

// チェックボックス

.contact_input {
  display: none;
}

.contact_input + span {
  // チェックボックス+文字全体
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 4.4rem;
  position: relative;
}

.contact_input + span::before {
  // チェックボックス
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 3rem;
  left: 0rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
}

.contact_input + span::after {
  // チェックマーク
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 4px solid #3f51b5;
  border-left: 4px solid #3f51b5;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 2.4rem;
  margin-left: 0.2rem;
}

.contact_input:checked + span::after {
  opacity: 1;
}

.contact_btn {
  display: inline-block;
  text-align: center;
  background: #3f51b5;
  color: #fff;
  font-size: 2.2rem;
  line-height: 56px;
  width: 261px;
  height: 56px;
  border-radius: 12px;
  position: relative;
}

.contact_btn:after {
  position: absolute;
  content: "";
  background-image: url(img/access-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 1.8rem;
  right: 1.193rem;
  width: 12px;
  height: 30px;
  border-radius: 3px;
}

/*********************************
*フッター セクション                             
*********************************/

footer {
  background: linear-gradient(to bottom, #666666, #000000); /* BOXのグラデーション */
}

.footer_first {
  padding-top: 7.4rem;
  display: flex;
  @include sp {
    display: block;
    text-align: center;
  }
}

.footer_logo {
  width: 200px;
  height: 39px;
  margin-left: 15.2rem;
  @include sp {
    margin-left: 0rem;
  }
}

.footer_list {
  font-size: 1.6rem;
  list-style: none;
  color: #fff;
  align-items: center;
  margin-left: 15.9rem;
  @include sp {
    margin-left: 0rem;
    justify-content: center;
  }
  li {
    margin-right: 3rem;
    transition: 0.3s;
    &:hover {
      transform: rotate(5deg);
    }
    @include sp {
      margin: 4rem 2rem 4rem 0;
    }
    &:nth-child(5) {
      margin-right: 0;
    }
  }
}

.footer_list-social {
  list-style: none;
  align-items: center;
  margin-left: 22.4rem;
  @include sp {
    margin-left: 0rem;
    justify-content: center;
  }
  li {
    margin-right: 1.6rem;
    @include sp {
      margin-right: 3.6rem;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}

.footer_info {
  margin-top: 3rem;
  @include sp {
    text-align: center;
  }
}

.footer_p {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 15.4rem;
  margin-bottom: 1.3rem;
  @include sp {
    margin-left: 0rem;
  }
}

.footer_under {
  margin-top: 9.1rem;
  justify-content: center;
  padding-bottom: 3.1rem;
  position: relative;
  @include sp {
    margin-top: 5.1rem;
  }
}

.footer_copy {
  // width: 324px;
  font-size: 1.4rem;
  color: #ffffff;
}

.footer_under-totop {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 19px; /* 右寄せ */
  bottom: 19px;
  @include sp {
    display: none;
  }
}
