/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

// デフォルト設定

html {
    font-size: 62.5%; // rem と px を変換しやすくする
}

* {
    box-sizing: border-box; // widthで横幅指定したとき、paddingとborderも含める
}

body {
    // margin-top: 10rem;   ************** ヘッダー固定の際のマージン。最後にコメントアウトを解除する ******************
    max-width: 1366px;
    height: 1177px;
}

// 汎用コード

.bold{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

.wrap {
    overflow: hidden;
}

// ナビバー

.navbar {
    background-color: #3F51B5;
    width: 100%;
    padding: 0;
    .navbar-brand {
        padding: 0;
    }
}

.navbar-nav {
    margin-right: 14rem;
}

.nav-item {
    color: white;
    font-size: 1.6rem;
    margin-left: 3rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.logo {
    background-image: url(img/logo.png);
    width: 200px;
    height: 39px;
    margin: 3.1rem 0 3rem 14rem;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// メイン

.main {
    max-width: 100%;
    height: 600px;
    background-image: url(img/mainvisual.png);
    background-repeat: no-repeat;
    background-size: cover;
        .main_wrap {
            padding: 14.9rem 0;
            max-width: 100%;
            .main_ttl {
                width: 748px;
                height: 87px;
                margin: 0 auto;
                font-size: 6.8rem;
                letter-spacing: 0;
                color: #333333;
                opacity: 1;
                }
                .main_subttl {
                    width: 342px;
                    height: 49px;
                    margin: 1.2rem auto 8.2rem auto;
                    font-size: 3.8rem;
                    letter-spacing: 0;
                    color: #333333;
                    opacity: 1;
                }
                .main_contact-btn {
                    max-width: 100%;
                    width: 390px;
                    height: 83px;
                    margin: 0 auto;
                    background: #3F51B5 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 12px;
                    opacity: 1;
                    display: flex;
                    align-items: center;
                    
                    a {
                        text-decoration: none;
                        width: 228px;
                        height: 49px;
                        line-height: 6.1rem;
                        margin: 1.7rem auto;
                        font-size: 3.8rem;
                        letter-spacing: 0;
                        color: #FFFFFF;
                        opacity: 1;
                        display: flex;
                        align-items: center;
                    }
                } // main_contact-btn
        } //main_wrap
    } // main


// カード

.card {
    background: #EFEFEF;
    .card_ttl {
        text-align: center;
        align-items: center;
        h2 {
        margin: 6.8rem 61.4rem 11.3rem 61.4rem;
        font-size: 6rem;
        letter-spacing: 0;
        line-height: 96px;
        width: 138px;
        height: 77px;
        position: relative;
        
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -4.6rem;/*線の上下位置*/
            display: inline-block;
            width: 77px;/*線の長さ*/
            height: 5px;/*線の太さ*/
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);/*位置調整*/
            background-color: blue;/*線の色*/
            border-radius: 2px;/*線の丸み*/
          }
    }
}
}

.main {
    width: 1366px;
    
}

.card_cont {
    margin: 0 14rem;
    max-width: 100%;
    width: 1106px;
    // margin-top: 6.857rem;
    .card_wrap {
        background: #fff;
        margin: 0 3rem 2rem 0;
        width: calc(33.3333333% - 3.4rem);
        min-width: 34.2rem;
        height: 35.5rem;
        font-weight: bold;
        
        &:nth-child(3n) {
            margin-right: 2rem;
        }
        .card_wrap-sub {
            margin: 1.6rem;
        }
    .card_img {
        max-width: 31rem;
        height: 16.1rem;
        width: 100%;
    }
    .card_txt {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 2.8rem;
        h3 {
            font-size: 2rem;
            height: 2.6rem;
            margin: 2.6rem 0 2rem 0;
            font-weight: bold;
        }
    }
}
}